# Obsidian local state
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspaces.json
.obsidian/graph.json
.obsidian/cache/
.obsidian/plugins/
.trash/

# OS
.DS_Store
Thumbs.db
desktop.ini
